.settings{
    display: flex;
}

.settingsWrapper{
    flex: 90%;
    padding: 20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingsDeleteTitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingsProfilePicture{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingsProfilePicture > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsProfilePictureIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.settingsForm > input:focus{
    outline: none;
}

#dark .settingsForm > input {
    background-color: var(--color-bg-dark);
}

.settingsSubmit{
    width: 150px;
    align-self: center;
    border-radius: 10px;
    color: var(--color-white);
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.settingsMessages{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.settingsSubmitMessage{
    color: green;
    font-weight: "700";
}

.settingsFailureMessage{
    color: red;
    font-weight: "700";
}