/* Global default css */

* {
    margin: 0;
  }

:root {
    --color-bg-light: white;
    --color-bg-light-tint: #f3f2f2;
    --color-text-light: white;
    --color-text-light-variant: #666;

    --color-bg-dark: #181a1b;
    --color-bg-dark-tint: #1b1e1f;
    --color-text-dark: black;
    --color-text-dark-variant: #444;

    --color-bg-variant: #444; /*#2c2c6c;*/
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);

    --color-white: #fff;
    --color-gold: #be9656;
    --color-silver: rgb(161, 161, 161);
    --color-bronze: #9b702b;
    --color-platinum: #4db5ff;
    
    --color-error: brown;

    --transition: all 400ms ease;

    --medium-font-size: 18px;
    --large-font-size: 100px;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    /* Searchbar consts that're dependent upon one another */
    --searchbar-container-left-margin-lg: 300px;
    --searchbar-container-left-margin-md: 150px;
    --searchbar-container-left-margin-sm: 50px;

    --searchbar-width-lg: 650px;
    --searchbar-width-md: 350px;
    --searchbar-width-sm: 250px;

    --searchbar-dropdown-left-margin-lg: 325px;
    --searchbar-dropdown-left-margin-md: 175px;
    --searchbar-dropdown-left-margin-sm: 75px;
    
    --searchbar-dropdown-width-lg: 660px;
    --searchbar-dropdown-width-md: 360px;
    --searchbar-dropdown-width-sm: 260px;
}

/* GENERAL STYLES */
.link{
  text-decoration: none;
  color: inherit;
}

.indexLight{
  background-color: var(--color-bg-light);
}

.indexDark{
  background-color: var(--color-bg-dark);
}

.responseMsg{
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
  font-weight: 600;
}

.errorText{
  color: var(--color-error);
  border-color: var(--color-error);
}

.successText{
  color: green;
  border-color: green;
}

.container {
  width: var(--container-width-lg);
}

img {
  width: 100%;
  object-fit: cover;
}

.categoryBtn{
  border: 2px solid var(--color-gold);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  color: var(--color-gold);
  line-height: 20px;
}

/* SCORING ICON COLORS */
.reddishBrown{
  color: var(--color-error);
}

.bronze{
  color: var(--color-bronze);
}

.silver{
  color: var(--color-silver);
}

.gold{
  color: var(--color-gold);
}

.platinum{
  color: var(--color-platinum);
}

.black{
  color: black;
}

/* MEDIA QUERIES */

/* For tablets */
@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }
}

/* For phones */
@media screen and (max-width: 600px) {
  .container {
      width: var(--container-width-sm);
      margin: 0 !important;
  }

}