/* Global default css */

* {
    margin: 0;
  }

:root {
    --color-bg-light: white;
    --color-bg-light-tint: #f3f2f2;
    --color-bg-dark: #181a1b;
    --color-bg-dark-tint: #1b1e1f;
    --color-bg-variant: #444; /*#2c2c6c;*/
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-gold: #be9656;
    --color-silver: silver;
    --color-bronze: #9b702b;
    --color-platinum: #4db5ff;

    --transition: all 400ms ease;

    --medium-font-size: 18px;
    --large-font-size: 100px;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

.link{
  text-decoration: none;
  color: inherit;
}

.indexLight{
  background-color: var(--color-bg-light);
}

.indexDark{
  background-color: var(--color-bg-dark);
}

/* SCORING ICON COLORS */
.reddishBrown{
  color: brown;
}

.bronze{
  color: var(--color-bronze);
}

.silver{
  color: var(--color-silver);
}

.gold{
  color: var(--color-gold);
}

.platinum{
  color: var(--color-platinum);
}