.ck.ck-editor {
    width: 80vw;
}

.ck-editor__editable_inline {
    min-height: 55vh;
    border: none;
    background: transparent;
}

.ck-editor__editable{
    background: transparent !important;
    border: none !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky{
    top: 50px !important;
}

.ck-content .image > figcaption{
    color: var(--color-text-light-variant);
}

code{
    color: var(--color-text-dark)
}

.marker-red{
    background-color: red;
}

/* FONT SIZES (used in "single post page" and potentially "post" later) (could restrict further)*/
.text-tiny {
    font-size: 0.7em;
}

.text-small {
    font-size: 0.85em;
}

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}


/* MEDIA QUERIES */

/* For tablets */
@media screen and (max-width: 1024px) {
    .ck.ck-editor {
        width: 65vw;
    }
  }
  
  /* For phones */
  @media screen and (max-width: 600px) {
    .ck.ck-editor {
        width: 80vw;
    }
  }