.topbar{
    width: 100%;
    height: 50px;
    background-color: var(--color-primary-variant);
    /* make topbar stick to top of page */
    position: sticky; 
    top: 0;
    /* to put other elements in horizontally */
    display: flex;
    align-items: center; /* vertical alignment */
    font-family: 'Josefin Sans', sans-serif;
}

.topLeft, .topRight {
    /* area of horizontal flex (could also used consts) */
    flex: 30%;
    display: flex;
    /* vertically center */
    align-items: center;
    /* horizontally center */
    justify-content: center;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-bg-variant);
    /* changes cursor into hand to click w/ hover */
    cursor: pointer;
}

.topCenter {
    /* area of horizontal flex */
    flex: 60%;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: var(--medium-font-size);
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    font-size: var(--medium-font-size);
    color: var(--color-bg-variant);
    cursor: pointer;
    margin-left: 15px;
}