.topbar{
    width: 100%;
    height: 50px;
    background-color: var(--color-bg-light);
    /* make topbar stick to top of page */
    position: sticky; 
    top: 0;
    /* to put other elements in horizontally */
    display: flex;
    align-items: center; /* vertical alignment */
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999; /* display topbar over the top of everything in website */
}

#dark .topbar{
    background-color: var(--color-bg-dark);
}

.topLeft, .topRight {
    /* area of horizontal flex (could also used consts) */
    flex: 30%;
    display: flex;
    /* vertically center */
    align-items: center;
    /* horizontally center */
    justify-content: center;
}

.topTitle{
    display: flex;
    margin-right: 20px;
    margin-left: 40px;
}

.topTitleImage{
    max-width: 20px;
    max-height: 20px;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topCenter {
    /* area of horizontal flex */
    flex: 60%;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: var(--medium-font-size);
    font-weight: 300;
}

#dark .topList{
    color: var(--color-white);
}

.topSearchIcon {
    font-size: var(--medium-font-size);
    color: var(--color-bg-variant);
    cursor: pointer;
    margin-left: 15px;
}

#dark .topSearchIcon {
    color: var(--color-white);
}

.topSwitch{
    margin-left: 20px;
}