.topbar{
    width: 100%;
    height: 50px;
    background-color: var(--color-bg-light);
    /* make topbar stick to top of page */
    position: sticky; 
    top: 0;
    /* to put other elements in horizontally */
    display: flex;
    align-items: center; /* vertical alignment */
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999; /* display topbar over the top of everything in website */
}

#dark .topbar{
    background-color: var(--color-bg-dark);
}

.topLeft, .topRight {
    /* area of horizontal flex (could also used consts) */
    flex: 30%;
    display: flex;
    /* vertically center */
    align-items: center;
    /* horizontally center */
    justify-content: center;
}

.topTitle{
    display: flex;
    margin-right: 20px;
    margin-left: 40px;
    align-content: center;
    justify-content: center;
}

.topBurgerMenuIList{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.topBurgerMenuItem{
    margin: 1rem;
}

.topBurgerMenuItem:hover{
    color: var(--color-text-light-variant);
}

.topTitleImage{
    max-width: 20px;
    max-height: 20px;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 0.3rem;
}

.topCenter {
    /* area of horizontal flex */
    flex: 60%;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: var(--medium-font-size);
    font-weight: 300;
    align-self: center;
    justify-self: center;
}

#dark .topList{
    color: var(--color-white);
}

.topSearchBarContainer{
    position: absolute;
    top: 70px;
    left: var(--searchbar-container-left-margin-lg);
    display: flex;
}

.topSearchButton {
    cursor: pointer;
    height: 28px;
}

.topSearchIcon {
    font-size: var(--medium-font-size);
    color: var(--color-bg-variant);
    cursor: pointer;
    margin: 15px;
}

#dark .topSearchIcon {
    color: var(--color-white);
}

.topSearchBarIcon{
    color: var(--color-bg-variant);
    cursor: pointer;
}

.topSearchBar{
    border: 1px solid var(--color-text-light-variant);
    border-radius: 0.2rem;
    padding: 5px;
    color: var(--color-text-light-variant);
    width: var(--searchbar-width-lg);
}

.topSearchBar::placeholder{
    color: var(--color-text-light-variant);
}

.topSearchBar:focus{
    outline: var(--color-text-light-variant) solid 1px;
}

.topSearchBarItems{
    position: absolute;
    top: 98px;
    left: var(--searchbar-dropdown-left-margin-lg);
    width: var(--searchbar-dropdown-width-lg);
    border: 1px solid var(--color-text-light-variant);
    border-radius: 0.2rem;
    list-style: none;
    background-color: black;
    padding-left: 0;
}

.topSearchBarItem{
    cursor: pointer;
    padding: 1rem;
    background-color: grey;
}

.topSearchBarItem:hover{
    background: var(--color-bg-variant);
}

.topSwitch{
    margin-left: 20px;
    margin-right: 1rem;
}

.topSideSwitch{
    margin: 1rem;
    margin-top: 40%;
}

/* MEDIA QUERIES */

/* For tablets */
@media screen and (max-width: 1024px) {
    .topSearchBar{
        width: var(--searchbar-width-md);
    }
    .topSearchBarContainer{
        left: var(--searchbar-container-left-margin-md);
    }
    .topSearchBarItems{
        width: var(--searchbar-dropdown-width-md);
        left: var(--searchbar-dropdown-left-margin-md);
    }
  }
  
  /* For phones */
  @media screen and (max-width: 600px) {
    .topSearchBar{
        width: var(--searchbar-width-sm);
    }
    .topSearchBarContainer{
        left: var(--searchbar-container-left-margin-sm);
    }
    .topSearchBarItems{
        width: var(--searchbar-dropdown-width-sm);
        left: var(--searchbar-dropdown-left-margin-sm);
    }
  }