.singlepostpage {
    display: flex; /* Need to display flex to use flex settings of comps */
}
#dark .singlepostpage{
    min-height: calc(100vh - 50px); /* bc topbar is 50px*/
    /* possibly unnecessary 
    height: auto !important;
    */
}

/* MEDIA QUERIES */

/* For phones */
@media screen and (max-width: 600px) {
    .singlepostpage {
        /* move sidebar below post */
        flex-direction: column;
    }
}