.singlepostpage {
    display: flex; /* Need to display flex to use flex settings of comps */
}
#dark .singlepostpage{
    min-height: 100vh;
    /* possibly unnecessary 
    height: auto !important;
    height: 600px;
    */
}