.home{
    display: flex;
    min-height: 92.5vh;
    flex-direction: column;
    margin: 0 auto -100px; /* margin must be same as homePush + homePagination height */
}

.homeColumnAligned{
    display: flex;
    flex-direction: row;
}

.homePush, .homePagination{
    height: 100px;
}

.homePagination{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
    width: 100%;
}

.homePaginationButton{

}

/* MEDIA QUERIES */

/* For phones */
@media screen and (max-width: 600px) {
    .homeColumnAligned {
        flex-direction: column;
    }
}