.home{
    display: flex;
    min-height: 92.5vh;
    flex-direction: column;
    margin: 0 auto -100px; /* margin must be same as homePush + homePagination height */
}

.homeColumnAligned{
    display: flex;
    flex-direction: row;
}

.homePush, .homePagination{
    height: 100px;
}

.homePagination{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.homePaginationButton{
    background: transparent;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700;
    border-color: var(--color-text-dark);
    color: var(--color-text-dark);
    border-width: 2px;
    margin: 5px;
    margin-bottom: 20px;
}

#dark .homePaginationButton{
    border-color: var(--color-text-light);
    color: var(--color-text-light);
}

/* MEDIA QUERIES */

/* For tablets */
@media screen and (max-width: 1024px) {
    .homeColumnAligned {
        flex-direction: column;
        align-items: center;
    }
}

/* For phones */
@media screen and (max-width: 600px) {
    .homeColumnAligned {
        flex-direction: column;
    }
}