.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
    background-color: var(--color-bg-light-tint);
    min-height: 300px;
}

#dark .post {
    background-color: var(--color-bg-dark-tint);
}

.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.postCategory{
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    color: var(--color-gold);
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.postAuthorDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: #999;
    color: var(--color-bg-variant);
}

.postAuthor{
    margin-right: 0px;
}

.postDate{
    margin-left: 50px;
}

.postDescription{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: var(--color-bg-variant);
    /* for line spacing */
    line-height: 24px;
    margin-top: 15px;
    /* Only display top 4 lines of descr then ... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-left: 10px;
    margin-right: 10px;
}

.postDescription::first-letter{
    margin-left: 20px;
}