.post{
    width: 385px;
    margin: 25px;
    background-color: var(--color-bg-light-tint);
    min-height: 490px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 20vw;
    border: 1px;
    border-radius: 10px;
}

#dark .post {
    background-color: var(--color-bg-dark-tint);
}

.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 1rem;
}

.postCategory{
    margin: 1rem;
    cursor: pointer;
    align-self: center;
}

.postTitleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.postReputationNumber{
    display:block; 
    margin-top:-1px;
    font-size: 10px;
    margin-right: 24px;
    color: var(--color-white);
    cursor: default;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.postAuthorDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: #999;
    color: var(--color-text-light-variant);
}

.postAuthor{
    margin-right: 0px;
}

.postDate{
    margin-left: 50px;
    font-weight: 200;
}

.postDescription{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: var(--color-text-light-variant);
    /* for line spacing */
    line-height: 24px;
    /* Only display top 4 lines of descr then ... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 1rem;
}

.postDescription::first-letter{
    margin-left: 20px;
}