.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-bg-variant);
    /* changes cursor into hand to click w/ hover */
    cursor: pointer;
}

#dark .topIcon{
    color: var(--color-primary); /*var(--color-bg-light);*/
}

#dark .sidebarIcon{
    color: var(--color-bg-variant);
}