* {
    margin: 0;
  }

:root {
    --color-bg: white; /*#1f1f38;*/
    --color-bg-variant: #444; /*#2c2c6c;*/
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --medium-font-size: 18px;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}